@using PagedList;
@using PagedList.Mvc;
@using Taihang.BookStore.Net.Models;

@model IPagedList<Book>

@{
    ViewBag.Title = "图书列表";

    List<BookCategory> categoryList = ViewBag.BookCategory;
    int selectedCategory = ViewBag.SelectedCategory;
}

<br />

<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            @foreach (var item in categoryList)
            {
                @Html.ActionLink(item.Name, "Index", new { selectedCategory = item.ID }, new { @class = item.ID == selectedCategory ? "list-group-item active" : "list-group-item" })
            }
        </div>
    </div>
    <div class="col-md-9">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="searchKey" name="searchKey" value="@ViewBag.SearchKey">
                <button type="button" class="btn btn-info" id="btnSearch" onclick="searchBook()">搜索</button>
            </div>
        </div>
        <br />
        <table class="table table-hover">
            <tr>
                <th>
                    封面
                </th>
                <th>
                    书名
                </th>
                <th>
                    作者
                </th>
                <th>
                    价格
                </th>
                <th>
                    类别
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", new { id = item.ID })">
                            <img class="img-responsive" src="/Imgs/@item.Img" width="50" height="50" />
                        </a>
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Details", new { id = item.ID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.ActionLink("加入购物车", "AddToCart", "ShoppingCart", new { id = item.ID }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </table>

        @if (Model.PageCount > 1)
        {
            @Html.PagedListPager(Model, p => Url.Action("Index", new { searchKey = ViewBag.SearchKey, selectedCategory = ViewBag.SelectedCategory, pageNumber = p }), PagedListRenderOptions.OnlyShowFivePagesAtATime);
        }
    </div>
</div>




@section scripts
{
    <script>
        var layer = null; // 弹窗 layer

        $(function () {
            // layui的弹出层
            layui.use('layer', function () {
                layer = layui.layer;
            });
        });

        // 详情
        function showDetail(id) {
            location.href = "/Book/Details/" + id;
        }

        // 搜索
        function searchBook() {
            var search = $("#searchKey").val();

            location.href = "/Book/Index?selectedCategory=@ViewBag.SelectedCategory&searchKey=" + search;
        }
    </script>
}
