@using PagedList;
@using PagedList.Mvc;
@using Taihang.BookStore.Net.Models;

@model IPagedList<ApplicationUser>

@{
    ViewBag.Title = "用户管理";

    string searchKey = ViewBag.SearchKey ?? "";
    int pageNumber = ViewBag.PageNumber ?? 1;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("pageNumber", pageNumber)

    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-info" name="command" value="Enable">启用</button>
            <button type="submit" class="btn btn-info" name="command" value="Disable">禁用</button>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" id="searchKey" name="searchKey" value="@searchKey">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-info" id="btnSearch">搜索</button>
        </div>
    </div>

    <br />

    <table class="table table-hover">
        <tr>
            <th>
                <input type="checkbox" id="cboxSelectAll"> 全选
            </th>
            <th>
                用户
            </th>
            <th>
                状态
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="selectedUsers" value="@item.Id">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (item.Disable)
                    {
                        <img src="~/Imgs/disable.png" width="32" height="32" />
                    }
                    else
                    {
                        <img src="~/Imgs/ok.png" width="32" height="32" />
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-info" onclick="manageUserRoles('@item.Id')">角色</button>
                </td>
            </tr>
        }
    </table>

    if (Model.PageCount > 1)
    {
        @Html.PagedListPager(Model, p => Url.Action("Index", new { searchKey = ViewBag.SearchKey, pageNumber = p }), PagedListRenderOptions.OnlyShowFivePagesAtATime);
    }
}


@section scripts
{
    <script>
        var layer = null; // 弹窗 layer

        $(function () {
            // layui的弹出层
            layui.use('layer', function () {
                layer = layui.layer;
            });

            // 全选操作
            $("#cboxSelectAll").on("click", function () {
                $("input[name='selectedUsers']").prop('checked', $("#cboxSelectAll").prop('checked'));
            });

            // 搜索操作
            $("#btnSearch").on("click", searchUser);
        });

        function searchUser() {
            var search = $("#searchKey").val();

            if (search) {
                location.href = "/Admin/User/Index?searchKey=" + search;
            }
            else {
                layer.msg("搜索内容为空，臣妾做不到啊！");
            }
        }

        function manageUserRoles(user_id) {
            var title = "用户角色";
            var get_action = "/Admin/User/UserRole/" + user_id;
            var post_action = "/Admin/User/UserRole";

            layer.open({
                title: title,
                type: 2,
                area: ['800px', '400px'],
                content: get_action,
                end: function () {
                    var result = layer.DialogResult;
                    if (result) {
                        // 使用Ajax发送HTTP POST 请求
                        $.ajax({
                            type: "POST",
                            url: post_action,
                            data: result,// 从对话框返回内容
                            contentType: false, // 不指定上传内容的格式
                            processData: false, // 不处理上传数据
                            dataType: 'json', // 期望从服务器返回的类型
                            success: function (data) {
                                alert("角色设置已完成");
                                //location.href = "/Admin/User/Index"; // 重新加载
                            }
                        });
                    }
                }
            });
        }
    </script>
}
